

<footer>
    
        <div class="footer-f">
            <h1>Contacto</h1>
            <h2>Direccion: Beruti 2940, Recoleta</h2>
            <h2>Telefono: 2392677472</h2>
            <h2>Correo electronico : info@panaderialapampa21.com</h2>
            <div class="footer-b">
                <h1></a>Seguinos</h1>
                <h2><a href="#"></a>Facebook</h2>
                <h2><a href="#"></a>Twitter</h2>
                <h2><a href="#"></a>Instagram</h2> 
                
            </div>

        </div>

    
</footer>

</body>
</html>