<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <title>Document</title>
</head>
<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Sobre Nosotros</a>
        <a href="/contact">Contacto</a>
        <a href="/productos/shop">Tienda</a>
    </nav>
    <div class="right-icons">
        <a href="/login"><i class="fas fa-user"></i></a> 
        <a href="/register"><i class="fas fa-shopping-cart"></i></a>
    </div>
</header>






<body>