body {
    margin: 0;
    padding: 0;
    background-color: white;
    
}


/*Nav*/
header {
    background-color:#333;
    color: white;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
nav{
    margin-top: 2px;
    margin-left: 150px;
}

nav a {
    background-color:orangered;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    transition: color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

nav a:hover {
    background-color:#E62C27;
}


.Product-Home img{
    display: flexbox;
    width: 50%;
    height: auto;
    margin-left: 15px;
}

.Home-text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 45px;

}
.home-text2{
    color: white;
    font-size: 25px;
    margin-left: 150px;
}
/* productos con linik a la tienda dentro del home */


.textbanner-pasteleria img{
    width: 20%;
    margin-left: 100px;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.textbanner-pasteleria img:hover{
    transform: translateY(-5px);
    border-color: #0056b3;
}
.textbanner-panaderia img{
    width: 22%;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 35px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.textbanner-panaderia img:hover{
    transform: translateY(-5px);
    border-color: #0056b3;
}


.Titulo-Pasteleria, .Titulo-Panaderia{
    width:200px;
    height: 50px;
    margin-top: 65px;
    margin-left: 725px;
    margin-bottom: -55px;
    color:black;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    
    text-align: center;
    
}

.Parrafo-panaderia, .Parrafo-Pasteleria{

    
    display: flex;
    margin-left: 410px;
    margin-right: 75px;
    margin-bottom: -235px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
    font-size: 17px;

}


                                                          /* CARROUSELL */
 *{
margin: 0;    
padding: 0;  
}

.slider-frame{
    border-radius: 0px;
    border: 1px;
    width: 75%;
    height: auto;
    margin: 50px auto 0; 
    overflow: hidden;
    

}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite  ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
}


@keyframes slide {

    0% {margin-left: 0%;}
    10% {margin-left: 0%;}

    30% {margin-left: -100%;}
    50% {margin-left: -100%;}

    60% {margin-left: -200%;}
    70% {margin-left: -200%;}


}






.right-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #333;
}

.right-icons i {
    color: #fff;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
}

.right-icons i:hover {
    color:orangered;
}


                            /*SHOP----------------------------- */





.title-shop {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
.BTN-shop{
    width: 125px;
    height: 30px;
    margin-left: 105px;
    margin-bottom: 25px;
    background-color: orangered;
    border: 1px solid white;
    border-radius: 10px;
    

}
.BTN-shop a{
    text-decoration: none;
    align-items: center;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.BTN-shop i{
    width: 25px;
    height: auto;
    background-color: #E62C27;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Tarjeta de producto */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 220px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    
}

.product-card:hover {
    transform: translateY(-5px);
    border-color: #0056b3;
    

}


.product-image {
    width: 100%;
    height: auto;
}

.product-card h2 {
    margin-bottom: 15px;
    margin-top: auto;
    font-size: 18px;
}

.product-card .description {
    font-size: 14px;
    color: black;
    margin: 5px 0;
}

.product-card .price {
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin: 10px 0;
}

.product-card img{
    margin-bottom: 10px;
}



/*ESTILOS DE ABOUT*/


.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

.about-section h2 {
    width: 800px;
    color: black;
    
}

.about-text {
    
    border-radius: 25px;
    width: 850px;
    height: 250px;
    margin-left: 20px;
    
}

.about-text  h2{
    
    border-radius: 25px;
    justify-content: center;
    width: 300px;
    color: black;
    margin-left: 250px;
    
}
.about-text p{
    
    border-radius: 25px;
    margin-left: 50px;
    width: 750px;
    height: 1000px;
    margin-right: 20px;
    color: black;
    justify-content: center;
    border-bottom: 45px;
    
}
.about-image img {
    max-width: 300px;
    /* Establece el ancho máximo de la imagen a 300 píxeles */
    border-radius: 10px;
    /* Redondea las esquinas de la imagen con un radio de 10 píxeles */
}


/* Estilos para la sección Contact */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-section h2{
    color: black;
    margin-left: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-left: 60px;
}

.contact-form label {
    margin-top: 15px;
    margin-bottom: 5px;

}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    width: 170px;
    height: 30px;
    background-color:orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 15px;
}

.contact-form button:hover {
    background-color:#E62C27;

}

/*LOGIN Y REGISTER*/

/* Estilos para las secciones de Registro y Login */
.register-section,
.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.register-section h2{
    color: black;
}

.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

}

.register-form label,
.login-form label {
    margin-top: 10px;
    /* Añade un margen superior de 10 píxeles */
    margin-bottom: 5px;
    /* Añade un margen inferior de 5 píxeles */
}

.register-form input,
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form button,
.login-form button {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color:orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}

.register-form button:hover,
.login-form button:hover {
    background-color:#E62C27;
    /* Cambia el color de fondo cuando el botón es presionado */
}

.login-form p{
    margin-top: 5px;
    margin-bottom: 7px;
}

.BTN-Inicio a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    
    width: 100px;
    height: 25px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color:orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}
.BTN-Inicio a:hover{
background-color:#E62C27;
}
.Volver-btn{
    margin-bottom: 50px;
}


                        /*TABLA*/


.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0;
    font-size: 2em;
    color: black;
}

.product-container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.product-container table {
    border-collapse:collapse;
    

}

.product-container th,
.product-container td {
    width: 100px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}

.product-container th {
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.product-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-container tr:hover {
    background-color: #f1f1f1;
}

.product-container td button {
    background-color:orangered;
    border: none;
    color: white;
    width: 130px;
    padding: 10px 20px;
    margin: 5px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.product-container td button:hover {
    background-color:#E62C27;
}

.product-container td button a {
    color: white;
    text-decoration: none;
    
}

.product-container button a {
    color: white;
    text-decoration: none;
    
}

.product-container button {
    display: block;
    width: max-content;
    margin: 20px auto;
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.product-container button:hover {
    background-color:#E62C27;
}


.btn-agregar{
    width: 170px;
    height: 30px;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    margin-left: 150px;
    margin-top: 25px;
}
.btn-agregar:hover {
    background-color:#E62C27;
}
.btn-agregar a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;

}


/*Agregar productoss*/

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
}

form {
    width: 80%;
    max-width: 600px;
    margin-left: 0px;
    margin-top: 15px;
    background: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.form-agregate{
    margin-left: 370px;
}
.form-update{
    margin-left: 370px;
}
label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 15px 15px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    
}

button[type="submit"] {
    
    background-color:orangered;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    align-self: center;
    width: max-content;
    
    
}

button[type="submit"]:hover {
    background-color:#E62C27;
    
}



.agregarProductoBtn{
    width: 170px;
    height: 30px;
    background-color:orangered;
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    color: white;
    margin-bottom: 15px;
}
.agregarProductoBtn:hover {
    background-color:#E62C27;
}







/*CARRITO*/
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
}

.left {
    flex: 2;
    

}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: -15px;
    
}

.titleCarrito{
    margin-left: 550px;
    margin-bottom: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
.exito-title{
    width: 1000px;
    height: 800px;
}
.title-exito{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 470px;
    margin-top: 150px;
}
.seguir-comprando{
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 15px;
    margin-left: 600px;
    margin-top: 25px;
}
.product{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    
}
.product img{
    max-width: 40%;
}
.product h2 {
    color: black;
    margin-left: 20px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
.product p{
    color: black;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-info{
    flex: 1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}


.product-controls{
    display: flex;
    align-items: center;
}

.quantity-btn{
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 15px;

}
.quantity-btn:hover{
    background-color: orangered;
}

.quantity-input{
    width: 40px;
    text-align: center;
    border-radius: 5px;

}

.price{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.delete-btn{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 65px;
    margin-top: 10px;
    
}
.delete-btn:hover{
    background-color: #0056b3;
}

.total-container{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: white;
}

.total-container p{
    font-size: 18px;
    
}

.buy-btn{
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buy-btn:hover{
    background-color:#E62C27;
    
}



.footer-f{
    display:inline-block;
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    background-color: #333;
    
    
}
.footer-f h1{

    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer-f h2{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    margin-left: 20px;



}
.footer-b{
    display:block;
    padding: 10px;
    background-color: #333;
    margin-left: 330px;
    margin-top: -155px;
    
}
.footer-b h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-top: -5px;
    
}
.footer-b h2{
    font-size: 10px;
    color: white;
    text-align: left;
    margin-left: 20px;
    transition: color 0.3s;
    text-decoration: none;

}



.footer-b h2:hover {
    color:orangered;
}

