body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.about-section {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about-text h2 {
    font-size: 36px;
    color: #d35400;
    margin-bottom: 20px;
}

.about-text h3 {
    font-size: 28px;
    color: #e67e22;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.about-text p:first-of-type {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .about-text h2 {
        font-size: 28px;
    }

    .about-text h3 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }
}

/* HEAD */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d35400;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.right-icons a {
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
}

.right-icons a:hover {
    color: #e67e22;
}

.right-icons i {
    vertical-align: middle;
}

@media (max-width: 768px) {
    nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    .right-icons a {
        font-size: 18px;
        margin-left: 10px;
    }
}

/* FOOTER */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.footer-f {
    margin-bottom: 10px;
}

.footer-f h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.footer-f h2 {
    font-size: 1rem;
    margin-bottom: 3px;
}

.footer-b {
    margin-top: 10px;
}

.footer-b h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.footer-b h2 {
    font-size: 0.8rem;
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 10px;
}
@media (max-width: 768px) {
    nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    .right-icons a {
        font-size: 18px;
        margin-left: 10px;
    }
}


/* agregate */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-agregate {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-agregate label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-agregate input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-agregate input:focus {
    border-color: #d35400;
    outline: none;
}

.agregarProductoBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d35400;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.agregarProductoBtn:hover {
    background-color: #e67e22;
}

/* CART */

.products-section {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    margin-left: 20px;
}

.titleCarrito {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-top: 25px;
}

.product {
    display: flex;
    margin-bottom: 20px;
    margin-left: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 5px;
    font-size: 16px;
}

form {
    margin-top: 10px;
}

form button {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #e67e22;
}

.right .total-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right .total-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.right .total-container .buy-btn {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.right .total-container .buy-btn:hover {
    background-color: #e67e22;
}

/* CONTACT */

.contact-section {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 600px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #d35400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e67e22;
}

/* EXITO */

.exito-title {
    text-align: center; 
    margin-top: 150px; 
}

.title-exito {
    font-size: 2em;
    margin-bottom: 20px; 
}

.seguir-comprando {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none; 
    font-size: 1em; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 150px;
}

.seguir-comprando:hover {
    background-color: #45a049; 
}

/* HOME */

main {
    padding: 20px;
}

.Home-text {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
                        /* CARROUSELL */
*{
    margin: 0;    
    padding: 0;  
    }
    
    .slider-frame{
        border-radius: 0px;
        border: 1px;
        width: 75%;
        height: auto;
        margin: 50px auto 0; 
        overflow: hidden;
        margin-bottom: 30px;
        
    
    }
    
    .slider-frame ul{
        display: flex;
        padding: 0;
        width: 300%;
        animation: slide 15s infinite  ease-in-out;
    }
    
    .slider-frame li{
        list-style: none;
        width: 100%;
    }
    
    .slider-frame img{
        width: 100%;
    }
    
    
    @keyframes slide {
    
        0% {margin-left: 0%;}
        10% {margin-left: 0%;}
    
        30% {margin-left: -100%;}
        50% {margin-left: -100%;}
    
        60% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
    
    }
    
.textbanner-pasteleria,
.textbanner-panaderia {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Titulo-Pasteleria,
.Titulo-Panaderia {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.Parrafo-Pasteleria,
.Parrafo-panaderia {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 25px;
    margin-right: 25px;
}

.textbanner-link {
    margin-top: 25px;
    text-align: center;
    display: flex;
}

.textbanner-link img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: 25px;
}
.textbanner-image-background {
    border-radius: 5px;
    margin-right: 10px; 
}


/* LOGIN */

.register-section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.register-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"],
.login-form button.BTN-Inicio {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.login-form button[type="submit"]:hover,
.login-form button.BTN-Inicio:hover {
    background-color: #45a049;
}

.login-form p {
    margin-top: 10px;
    font-size: 14px;
}

.login-form a {
    color:#0056b3;
    text-decoration: none;
}
.BTN-Inicio a{
    color: white;
}


.login-form a:hover {
    text-decoration: underline;
}

#notification {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2dede;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: none;
}

/* READ */

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-container {
    margin-top: 20px;
}

.product-container table {
    width: 100%;
    border-collapse: collapse;
}

.product-container th, .product-container td {
    padding: 10px;
    text-align: left;
}

.product-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.product-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-container tr:hover {
    background-color: #f0f0f0;
}

.btn-agregar {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-agregar a {
    color: white;
    text-decoration: none;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

.btn-edit, .btn-delete {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-edit a, .btn-delete {
    color: white;
    text-decoration: none;
}

.btn-edit:hover, .btn-delete:hover {
    background-color: #218838;
}

/* REGISTER */

.register-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form p {
    margin-top: 10px;
    font-size: 14px;
}

.register-form a {
    color: #007bff;
    text-decoration: none;
}

.register-form a:hover {
    text-decoration: underline;
}

#notification {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffc107;
    color: #333;
    border: 1px solid #ffc107;
    border-radius: 5px;
    display: none;
}



/* SHOP */

.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-header {
    font-size: 24px;
    margin: 0;
}
.title-shop{
    margin-top: 15px;
    margin-left: 500px;
}

.shop-header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.BTN-shop{
    background-color:rgb(211, 84, 0);
    color: white;
    padding: 5px;
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 150px;
    margin-bottom: 35px;
}
.BTN-shop2{  /* btn carrito */
    background-color:rgb(211, 84, 0);
    color: white;
    padding: 5px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
}
.BTN-shop a{
    color: white;
    text-decoration: none;
}
.BTN-shop2 a{
    color: white;
    text-decoration: none;
}
.shop-header a {
    color: white;
    text-decoration: none;
}

.shop-header .BTN-shop:hover {
    background-color: #0056b3;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px; 
}

.product-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.product-card .description {
    margin-top: 10px;
}

.product-card .price {
    font-weight: bold;
    margin-top: 10px;
}

.product-card form {
    margin-top: auto;
}

.product-card button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #218838;
}

/* UPDATE */
.form-update {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-update label {
    display: block;
    margin-top: 10px;
}

.form-update input[type="text"],
.form-update input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-update button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-update button:hover {
    background-color: #0056b3;
}