<%- include('../partials/head')%>

<section class="about-section">
   
    <div class="about-text">
        <h2>Sobre Nosotros</h2>
        <p>Bienvenidos a Panadería La Pampa, donde la tradición y la pasión por la panificación se unen para ofrecerte productos de la más alta calidad. Desde nuestros inicios, nos hemos dedicado a crear panes y dulces que no solo alimentan el cuerpo, sino también el alma.

            Nuestra Historia
            
            Panadería La Pampa nació de un sueño compartido por nuestra familia: traer el auténtico sabor del pan artesanal a nuestra comunidad. Con más de dos décadas de experiencia, hemos perfeccionado nuestras recetas y técnicas para garantizar que cada bocado sea una experiencia inolvidable.
            
        </p>
    </div>

</section>


<%- include('../partials/footer')%>
