<%- include('../partials/head')%> 

<div class="exito-title">
<h1 class="title-exito">Producto comprado con éxito</h1>
<a href="/productos/shop"><button class="seguir-comprando">seguir comprando</button></a>
</div>

<%- include('../partials/footer')%>