<%- include('../partials/head')%>
    
    <main>

        <h2 class="Home-text">Panaderia La Pampa</h2>

       
                                    <!-- CARROUSELL -->


            <div class="slider-frame">
                <ul>
                    <li><img src="/images/1287.jpg" alt=""></li>
                    <li><img src="/images/1288.jpg" alt=""></li>
                    <li><img src="/images/1289.jpg" alt=""></li>
                </ul>
            </div>









                
        <div class="textbanner-pasteleria">
            <h1 class="Titulo-Pasteleria">Pasteleria</h1>
            <div>
            <h3 class="Parrafo-Pasteleria">
                ¡Bienvenidos a Panaderia la pampa, tu destino favorito para los más exquisitos productos de pastelería! Disfruta de nuestras tartas artesanales, hechas con ingredientes frescos y una dosis extra de amor. 
                Desde el clásico pastel de chocolate hasta nuestras innovadoras tartaletas de frutas tropicales, cada bocado es una experiencia celestial. 
                No olvides probar nuestros croissants recién horneados y nuestras galletas gourmet, perfectas para acompañar tu café matutino. 
                Visítanos hoy y déjate tentar por la magia de nuestros postres. En Delicias Dulces, cada día es una celebración de sabor. 
                ¡Te esperamos!</h3>
            </div>

            <div>
            <a class="textbanner-link" href="/productos/shop">
                <img class="textbanner-image-background" src="/images/1282.jpg" alt="">
                <img class="textbanner-image-background" src="/images/1283.jpg" alt="">
                <img class="textbanner-image-background" src="/images/1286.jpg" alt="">

            </a>
            </div>
        </div>



            <div class="textbanner-panaderia">
                <h1 class="Titulo-Panaderia">Panaderia</h1>
                <div>
                <h3 class="Parrafo-panaderia">¡Bienvenidos a Panadería La Pampa, donde cada mañana empieza con el aroma inconfundible del pan recién horneado! Ven y descubre nuestra amplia selección de panes artesanales, desde el clásico baguette francés hasta nuestros exclusivos panes integrales con semillas. 
                    No te pierdas nuestros esponjosos bollos de leche y las crujientes chapatas, perfectas para cualquier comida. 
                    Cada producto es elaborado con ingredientes de la más alta calidad y una dedicación que se nota en cada mordisco.
                    Visítanos hoy y déjate envolver por el sabor y la frescura de Panadería El Trigo Dorado. 
                    ¡Haz de cada desayuno un momento especial con nosotros!</h3></div>
                <div>
                    <a class="textbanner-link" href="/productos/shop">
                        <img class="textbanner-image-background" src="/images/1280.jpg" alt="">
                        <img class="textbanner-image-background" src="/images/1284.jpg" alt="">
                        <img class="textbanner-image-background" src="/images/1285.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </main>



    <%- include('../partials/footer')%>