<%- include('../partials/head')%>


    <section class="register-section">
        
        <h2>Iniciar sesión</h2>
        
        <form action="/api/auth/login" class="login-form" method="post">
            <label for="">Email:</label>
            <input type="email" name="email" placeholder="Email" required>
            
            <label for="">Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Iniciar sesión</button>

            <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
            
            <button class="BTN-Inicio"><a href="/">Volver</a></button>
        </form>
        
        <!-- Área para mostrar notificaciones -->
        <div id="notification" style="display: none;"></div>


    </section>
    
    




    <%- include('../partials/footer')%>